[workspace]
members = ["codegen"]

[package]
name = "data_bucket"
version = "0.1.0"
edition = "2021"

[dependencies]
data_bucket_derive = {path = "codegen"}

eyre = "0.6.12"
derive_more = { version = "1.0.0", features = ["from", "error", "display", "into"] }
rkyv = { version = "0.8.8" }
scc = "2.1.16"
lockfree = "0.5.1"
serde = { version = "1.0.215", features = ["derive"] }
uuid = { version = "1.11.0", features = ["v4"] }
bitcode = "0.6.3"