[workspace]
members = ["codegen", "tools/create-data-file", "tools/dump-data-file"]

[package]
name = "data_bucket"
version = "0.1.0"
edition = "2021"

[dependencies]
data_bucket_derive = {path = "codegen"}

eyre = "0.6.12"
derive_more = { version = "1.0.0", features = ["from", "error", "display", "into"] }
rkyv = { version = "0.7", features = ["uuid"] }
scc = "2.1.16"
lockfree = "0.5.1"
serde = { version = "1.0.215", features = ["derive"] }
uuid = { version = "1.11.0", features = ["v4"] }
bitcode = "0.6.3"

[dev-dependencies]
mktemp = "0.4.0"
